<div class="container">
    <div class="row">
      <%= bootstrap_form_for @article, html: { multipart: true } do |article| %>
      <br>
        <%= article.file_field :image %>
      <br>
        <%= article.text_field :title %>
      <br>
        <%= article.text_area :content %>
        <%= article.submit %>
      <% end %>
    <br>
  </div>
</div>
