
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-ms-12">
          <% @Articles.each do |article| %>
          <hr>
            <h2><%= link_to article.title, article %></h2>
          <br>
            <p><%= truncate(article.content, length:225) %></p>
          <br>
            <p><small>
               Published in <%= time_ago_in_words(article.created_at) %> ago
               <br>
               By <%= article.user.username %>
            </small></p>
            <br>
            <!-- only signed in admin can see the edit and delete links  -->
            <% if user_signed_in? %>
              <%= link_to "Edit", edit_article_path(article) %>
              <%= link_to "Delete", article_path(article), method: :delete, data: { confirm: "You are attempting to delete the post. Click 'Ok' to delete." } %>
            <% end %>
          <% end %>
        </div>
    </div>
</div>
