<h1><%= @article.title %></h1>
<p>
  <%= Pygments.highlight.markdown(@article.content, lexer: language) %>
</p>

<h3><%= pluralize(@article.comments.count, 'comment') %></h3>

<%= render @article.comments %>
<%= render 'comments/form' %>
